# Node.js dependencies
signalServer/nodeJs/node_modules/
signalServer/nodeJs/package-lock.json
singalServer/java/signal-server/target/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE/editor specific files
.vscode/
.idea/
*.swp
